<div class="form-container">
  <div class="form-content">
<p>WITAJ W GRZE F1 WYŚCIG</p>

<form (ngSubmit)="startGame()" #gameForm="ngForm">
  <div>
    <label for="playerName">Nazwa gracza:</label>
    <input type="text" id="playerName" [(ngModel)]="playerName" name="playerName" required minlength="3">
    <div *ngIf="gameForm.controls['playerName'] && (gameForm.controls['playerName'].dirty || gameForm.controls['playerName'].touched)">
      <span *ngIf="gameForm.controls['playerName'].errors?.['required']">Nazwa gracza jest wymagana.</span>
      <span *ngIf="gameForm.controls['playerName'].errors?.['minlength']">Nazwa gracza musi mieć co najmniej 3 znaki.</span>
    </div>
  </div>
  <div>
    <label for="token">Token:</label>
    <input type="text" id="token" [(ngModel)]="token" name="token" required> 
    <div *ngIf="gameForm.controls['token'] && (gameForm.controls['token'].dirty || gameForm.controls['token'].touched)">
      <span *ngIf="gameForm.controls['token'].errors?.['required']">Token 4-cyfrowy jest wymagany.</span>
    </div>
  </div>
  <button 
    type="submit" [disabled]="!gameForm.form.valid">Rozpocznij grę
  </button>
</form>
</div>
</div>

