<div class="container" [ngClass]="{ 'high-contrast': selectedColorPalette === 'high-contrast' }">
<div class="top-row">
    <p class="welcome-message">Witaj, {{ playerName }}!</p> 
    <!-- Z SERVICE WZIASC IMIE UZYTKOWNIKA  playerName NA getPlayerName-->
    <button [routerLink]= "['/intro']" class="exit-button" (click)="exitGame()">Exit Game</button>
    <div class="color-button">
    <label for="colorPalette">Zmień paletę kolorów:  </label>
      <select id="colorPalette"  [(ngModel)]="selectedColorPalette" (change)="switchColorPalette(selectedColorPalette)">
        <option value="normal">Normal</option>
        <option value="high-contrast">Wysoki kontrast</option>
      </select>
    </div>
  </div>
  <div class="middle-row">
    <table class="game-history">
      <h2>Game History</h2>
      <div class="filter-buttons">
        <select [(ngModel)]="filterAction">
          <option value="">Show All</option>
          <option value="Start">Start</option>
          <option value="Stop">Stop</option>
          <option value="Turbo ON">Turbo ON</option>
          <option value="Turbo OFF">Turbo OFF</option>
          <option value="Left">Left</option>
          <option value="Right">Right</option>
          <option value="Overtaking">Overtaking</option>
        </select>
      </div>
      <div class="sort-buttons">
        <button (click)="sortByNewest()">Sort by Newest</button>
        <button (click)="sortByOldest()">Sort by Oldest</button>
      </div>
      <ul>
        <li *ngFor="let event of gameHistory | filterHistory:filterAction">
          {{ event.timestamp | date:'dd-MM-yyyy HH:mm:ss' }} - {{ event.action }}
        </li>
      </ul>
    </table>
      <ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
      <ngx-race #game 
      (carOvertaken)="grantPoints()" 
      (gameOver)="onGameOver()"></ngx-race>
    <div class="game-buttons">
      <button (click)="onStartOnButtonPressed()">Start</button>
      <button (click)="onStopOnButtonPressed()">Stop</button>
      <button (click)="onResetOnButtonPressed()">Reset</button>
      <button (click)="onLeftOnButtonPressed()">Left</button>
      <button (click)="onRightButtonPressed()">Right</button>
      <button (click)="onTurboOnButtonPressed()">Turbo ON</button>
      <button (click)="onTurboOffButtonPressed()">Turbo OFF</button>
    </div>
    <div class="game-info">
      <div class="info-item">
        <span class="label">Stan gry: </span>
        <span class="value">{{ gameStarted ? 'Uruchomiona' : 'Zakończona' }}</span>
      </div>
      <div class="info-item">
        <span class="label">Liczba punktów: </span>
        <span class="value">{{ points }}</span>
      </div>
      <div class="info-item">
        <span class="label">Czas gry: </span>
        <span class="value">{{ timePlayed }}</span>
      </div>
      <div class="info-item">
        <h2>Top 10 wyników</h2>
        <ul>
          <li *ngFor="let highscore of highscores | topScores:sortOrder:10">
            {{ highscore.name }} - {{ highscore.score }}
          </li>
        </ul>
        <button (click)="sortOrder = 'asc'">Sortuj rosnąco</button>
        <button (click)="sortOrder = 'desc'">Sortuj malejąco</button>
        
        <app-myscore></app-myscore>

      </div>
    </div>
  </div>
</div>
